{% extends "global/govuk_template.html" %}


{% block head %}
  <link href="/static/govuk-template/stylesheets/govuk-elements.css" media="screen" rel="stylesheet" type="text/css">
  
  {% block overwrite_css %}{% endblock %}
{% endblock %}


{% block header_class %}with-proposition{% endblock %}
{% block proposition_header %}
  <div class="header-proposition">
    <div class="content">
      <a href="/" id="proposition-name">{{ env_flag }}</a>
    </div>
  </div>
{% endblock %}


{% block cookie_message %}
  <p>GOV.UK uses cookies to make the site simpler. <a href="https://www.gov.uk/help/cookies">Find out more about cookies</a></p>
{% endblock %}

{% block body_end %}
  <script src="/static/govuk-template/javascripts/vendor/jquery-1.11.1.min.js"></script>
  <script src="/static/govuk-template/javascripts/vendor/modernizr-custom.js"></script>
  <script src="/static/govuk-template/javascripts/stick-at-top-when-scrolling.js"></script>
  <script src="/static/govuk-template/javascripts/govuk-elements.js"></script>
  {% block body_end_additional %}{% endblock %}
{% endblock %}
