<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <h1>Pick which property is yours</h1>
    <ul>
        <li>
            <form action="/reference" method="GET">
                <td> <input type="submit" value="5 Miller Way"></td>
            </form>
        </li>
        <li>
            <form action="/reference" method="GET">
                <td> <input type="submit" value="6 Miller Way"></td>
            </form>
        </li>
    </ul>
</head>
<body>

</body>
</html>