{% extends "global/base.html" %}

{% block content %}

<main id="wrapper" role="main">
    <div id="content">

      <br><br>

      <div class="grid-wrapper">

        <div class="grid grid-1-2">
           <div class="inner-block">

              <h2>What do you want to prove?</h2>
              <ul>
                  <li>
                      <form action="/searchforproperty" method="GET">
                          <td> <input type="submit" value="own property"></td>
                      </form>
                  </li>
                  <li>own car</li>
                  <li>can drive motprbike</li>
                  <li>can fish for salmon</li>
                  <li>Can breed pigs</li>
                  <li>prove I live here</li>
              </ul>

          </div>
        </div>

    </div>

  </div>
</main>

{% endblock %}
