{% extends "global/base.html" %}

{% block content %}


<script type="text/javascript">
function OnSubmitForm()
{
  if(document.myform.radio-group[0].checked == true)
  {
    document.myform.action ="/searchforproperty";
  }
  else
  if(document.myform.radio-group[4].checked == true)
  {
    document.myform.action ="fishlicense";
  }
  return true;
}
</script>

<main id="wrapper" role="main">
    <div id="content">

      <br><br>

      <div class="grid-wrapper">

        <div class="grid grid-1-2">
           <div class="inner-block">

            <form action="/searchforproperty" method="get" class="form">

              <h1 class="form-title heading-large">
                What do you want to prove?
              </h1>

              <div class="form-group">


                  <label for="radio-1" class="block-label">
                    <input id="radio-1" type="radio" name="radio-group" value="1">
                    That I own a property
                  </label>

                  <label for="radio-2" class="block-label">
                    <input id="radio-2" type="radio" name="radio-group" value="2">
                    That I own a car
                  </label>

                  <label for="radio-3" class="block-label">
                    <input id="radio-3" type="radio" name="radio-group" value="3">
                    That I can drive a motorbike
                  </label>

                  <label for="radio-4" class="block-label">
                    <input id="radio-4" type="radio" name="radio-group" value="4">
                    That I can fish for salmon
                  </label>

                  <label for="radio-5" class="block-label">
                    <input id="radio-5" type="radio" name="radio-group" value="5">
                    That I can breed pigs on my land
                  </label>

                  <label for="radio-6" class="block-label">
                    <input id="radio-6" type="radio" name="radio-group" value="6">
                    That I live in my house
                  </label>

                  <div class="form-group">
                    <button type="submit" class="button">Next</button>
                    <p>
                      <a href="/searchforproperty">Back</a>
                    </p>
                  </div>

              </form>

          </div>
        </div>

    </div>

  </div>
</main>

{% endblock %}
