{% extends "global/base.html" %}

{% block content %}

  <div>
    <h1>Prove-it Sucka!(.GOV.UK)</h1>
        <h2>What do you want to prove?</h2>
        <ul>
            <li>
                <form action="/searchforproperty" method="GET">
                    <td> <input type="submit" value="own property"></td>
                </form>
            </li>
            <li>own car</li>
            <li>can drive motprbike</li>
            <li>can fish for salmon</li>
            <li>Can breed pigs</li>
            <li>prove I live here</li>
        </ul>





      <img src="{{ url_for('static', filename = 'mrt.jpg') }}" alt="Mr T" width="500" height="520"/>
  </div>

{% endblock %}
