{% extends "global/base.html" %}

{% block content %}

<div class="grid-wrapper">

    <div class="grid grid-1-2">
        <div class="inner-block">
            <br/>
            <h1>NO!</h1>
            <h2>You do not have rights to fish for salmon.</h2>

            <p>FAIL</p>
        </div>
    </div>

    <div class="grid grid-1-2">
        <div class="inner-block">
            <img src="http://i.ytimg.com/vi/PFsbka48yOc/hqdefault.jpg" alt="Mr T" width="500" height="520"/>
        </div>
    </div>

</div>

{% endblock %}