{% extends "global/base.html" %}

{% block content %}

<main id="wrapper" role="main">
    <div id="content">

      <br><br>

      <div class="grid-wrapper">

        <div class="grid grid-1-2">
           <div class="inner-block">

              <h1>Prove it, sucka!!</h1>

              <form class="form" action="/choose" method="GET">

                <h2 class="form-title heading-large">
                  Please verify your identity
                </h2>

                <div class="form-group">

                  <label class="form-label">Email</label> <input type="text" class="form-control"name="email" id="email"><br/>
                  <label class="form-label">Password</label> <input type="text" class="form-control" name="password" id="password"><br><br>
                  <button class="button" type="submit">Login</button>
                </div>
              </form>

              <details>

                  <summary aria-controls="details-content-0" tabindex="0">
                      <span class="summary">Can I use Government Gateway?</span>
                  </summary>

                  <div class="panel-indent" id="details-content-0" aria-expanded="false" >
                      <p>
                          You can't use Government Gateway with this service, it's being replaced by GOV.UK Verify.
                      </p>
                  </div>

              </details>

          </div>
        </div>


        <div class="grid grid-1-2">
            <div class="inner-block">
               <img src="{{ url_for('static', filename = 'mrt.jpg') }}" alt="Mr T" width="500" height="520"/>
            </div>
        </div>
    </div>

  </div>
</main>

{% endblock %}
