{% extends "global/base.html" %}

{% block content %}

<main id="wrapper" role="main">
    <div id="content">

      <br><br>

      <div class="grid-wrapper">

        <div class="grid grid-1-2">
           <div class="inner-block">

            <form class="form" role="form" action="/checkproperty" method="get" name="property-details">

              <h2 class="form-title heading-large">
                Please enter house number and postcode:
              </h2>

              <div class="form-group">

                <label class="form-label" for="housenumber">House Number</label>
                <input class="form-control" type="text" name="housenumber" value="">
                <label class="form-label" for="postcode">Postcode</label>
                <input class="form-control" type="text" name="postcode" value=""><br><br>

                <button class="button" type="submit">Next</button>

              </div>
            </form>

        </div>
      </div>

    </div>

  </div>
</main>

{% endblock %}
